{% extends "base.html" %}

{% block title %}Dashboard - Amuser{% endblock %}

{% block content %}
    <div class="container">
        <h1>Dashboard</h1>
        <h3>Welcome to the AI Presentation Generator! Here's how to get started:</h3>
        <ul>
            <li><strong>Input:</strong> Type your idea or key points in simple phrases, for example: "Highlight the advantages of solar, wind, and hydro power in mitigating climate change and securing a sustainable future" or "Tell me a funny story about spiderman", etc.</li>
            <li><strong>Click:</strong> Press the button to generate your presentation.</li>
            <li><strong>Review:</strong> Take a look at the generated video and redo if you want to customize it.</li>
            <li><strong>Share:</strong> Share your presentation and impress your audience!</li>
        </ul>
        <p>That's it! Just type, click, review, and share to create your presentation in minutes.</p>
        <p>You have {{ balance }} generations left<p>
        <!-- <div class="form-container"> -->
            <form action="{{ url_for('dashboard') }}" method="post">
                <h2>Video Prompt:<h2>
                <input type="text" id="prompt" name="prompt" required>
                <button type="submit">Generate Video</button>
            </form>
        <!-- </div> -->
    </div>
{% endblock %}
