{% extends "base.html" %}

{% block title %}My Videos - VidGenAI{% endblock %}

{% block content %}
    <div class="container">
        <h1>My Videos</h1>
        {% for video in videos %}
            <div class="video-listing">
                <h2>{{ video.prompt }}</h2>
                <p>{{ video.created_at }}</p>
                {% if video.status == 'Processing' %}
                    <p>Video is currently processing</p>
                {% else %}
                    <video src="{{ video.url }}" controls></video>
                    <div>
                        <a href="{{ video.url }}" download="amuser_video.mp4">Download Video</a>
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ video.url|urlencode }}" target="_blank">Share on Facebook</a>
                        <a href="https://twitter.com/intent/tweet?url={{ video.url|urlencode }}" target="_blank">Share on X</a>
                    </div>
                {% endif %}
            </div>
        {% else %}
            <p>No videos found.</p>
        {% endfor %}
    </div>
{% endblock %}
